<div>
  <h1><%= @task.title %></h1>
  <h2><%= @task.details %></h2>
</div>
<div>
  <% if @task.completed == true %>
    <p> ✅ This task is completed </p>
  <% else %>
    <p> ❌ Go do your job! </p>
  <% end %>
</div>
<p><%= link_to "Edit this task", edit_task_path %></p>

<p><%= link_to "Back to all tasks", tasks_path %></p>
